@import "../../App.module.scss";
.containerFormh2 {
  h2 {
    padding-top: 70px;
  }
  p {
    font-family: "MontserratAlternates-Regular";

    display: flex;
    justify-content: center;
  }
}
.containerForm {
  display: flex;
  justify-content: space-around;
  margin-left: 288px;
  height: 550px;

  .form {
    margin-top: 109px;
    p {
      text-decoration: underline;
      font-family: "MontserratAlternates-Regular";
      font-size: $font-medium;
    }
    .form1 {
      margin-bottom: 70px;
    }
  }
  .formImg {
    position: relative;
    background-image: url(../../../public/assets/images/boy_form.png);
    width: 695px;
  }
}
