.programm_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:30px;
    justify-items: center;
    margin: 0px 150px 70px 150px;
    font-family: "MontserratAlternates-Regular";
}
.programmgroup_container{
    display: grid;
    justify-content: left;
    font-size: var(--font-medium);
}
div span{
    margin-top: 30px;
}

.h2{
    height: 140px;
}