@import "../../App.module.scss";
.formControl{
    font-family: "MontserratAlternates-Regular";
    font-size: $font-medium;
    width: 520px;
    height: 62px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 1px solid $gray-color;
    padding-left: 36px;
    margin-bottom: 30px;
}
@media screen and (max-width: 430px) {
    .formControl{
    max-width: 382px;
    font-size: $font-x-small;
    height: 60px;
    }
}