.formControl{
    font-family: "MontserratAlternates-Regular";
    font-size: var(--font-medium);
    width: 520px;
    height: 62px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 1px solid var(--gray-color);
    padding-left: 36px;
    margin-bottom: 30px;
}