.circleGray {
  border-radius: 100%;
  width: 58px;
  height: 58px;
  border: 0px;
  background-color: var(--gray-color);
}
.circleBeige {
  border-radius: 100%;
  width: 58px;
  height: 58px;
  border: 0px;
  background-color: var(--beige-color);
}
.leftArrowGray,
.rightArrowGray,
.leftArrowBeige,
.rightArrowBeige {
  position: relative;
  margin-right: 24px;
  cursor: pointer;
}
.leftArrowGray::before,
.rightArrowGray::before,
.leftArrowGray::after,
.rightArrowGray::after,
.leftArrowBeige::before,
.rightArrowBeige::before,
.leftArrowBeige::after,
.rightArrowBeige::after {
  display: inline-flex;
  position: absolute;
  content: "";
}

.leftArrowGray::before,
.rightArrowGray::before {
  top: 8px;
  width: 24px;
  height: 3px;
  background-color: var(--beige-color);
  border-radius: 2px;
}
.leftArrowBeige::before,
.rightArrowBeige::before {
  top: 8px;
  width: 24px;
  height: 3px;
  background-color: var(--gray-color);
  border-radius: 2px;
}

.leftArrowGray::after,
.rightArrowGray::after,
.leftArrowBeige::after,
.rightArrowBeige::after {
  width: 12px;
  height: 12px;
  top: 2px;
  border-radius: 2px;
}

.leftArrowGray::after {
  left: 0;
  border-top: 3px solid var(--beige-color);
  border-left: 3px solid var(--beige-color);
  transform: rotate(-45deg);
}
.leftArrowBeige::after {
  left: 0;
  border-top: 3px solid var(--gray-color);
  border-left: 3px solid var(--gray-color);
  transform: rotate(-45deg);
}

.rightArrowGray::after {
  left: 10px;
  border-top: 3px solid var(--beige-color);
  border-right: 3px solid var(--beige-color);
  transform: rotate(45deg);
}
.rightArrowBeige::after {
  left: 10px;
  border-top: 3px solid var(--gray-color);
  border-right: 3px solid var(--gray-color);
  transform: rotate(45deg);
}

.leftArrowGray:hover::before,
.rightArrowGray:hover::before,
.leftArrowBeige:hover::before,
.rightArrowBeige:hover::before {
  background-color: var(--text-color);
}

.leftArrowGray:hover::after,
.leftArrowBeige:hover::after {
  border-top: 3px solid var(--text-color);
  border-left: 3px solid var(--text-color);
}

.rightArrowGray:hover::after,
.rightArrowBeige:hover::after {
  border-top: 3px solid var(--text-color);
  border-right: 3px solid var(--text-color);
}
