.buttonRegistration{
    font-family: "MontserratAlternates-Regular";
    font-size: var(--font-medium);
    width: 275px;
    height: 62px;
    border-radius: 50px;
    border: 0px;
    background: var(--lilac-color);
    color: var(--beige-color);
}
.buttonRegistration:hover{
    background: var(--beige-color);
    color: var(--lilac-color);
    border: 2px solid;
    border-color: var(--lilac-color);
}