@import "../../App.module.scss";

.buttonRegistration,
.buttonSubmitRequest,
.buttonSend {
  font-family: "MontserratAlternates-Regular";
  font-size: $font-medium;
  height: 62px;
  border-radius: 50px;
  border: 0px;
}
.buttonRegistration {
  width: 275px;
  background: $lilac-color;
  color: $beige-color;
}
.buttonSend{
    width: 520px;
    background: $lilac-color;
    color: $beige-color; 
}
.buttonSubmitRequest {
  width: 515px;
  background: $turquoise-color;
  color: $text-color;
}
.buttonRegistration:hover,
.buttonSubmitRequest:hover,
.buttonSend {
  border: 2px solid;
}
.buttonRegistration:hover,
.buttonSend:hover {
  background: white;
  color: $lilac-color;
  border-color: $lilac-color;
  font-weight: bold;
}

.buttonSubmitRequest:hover {
  background: $beige-color;
    color: $lilac-color;
  border-color: $turquoise-color;
  font-weight: bold;
}
