.containerLogo{
    font-family: "MontserratAlternates-Bold";
    font-size: var(--font-x-large);
    display: flex;
    align-items: center;
    height: 100px;
    color: var(--text-color);
}
.imgLogo{
    width: 30px;
}
.containerLogo:hover{
    font-size: var(--font-large)
}