@import "../../App.module.scss";

.containerLogo{
    font-family: "MontserratAlternates-Bold";
    font-size: $font-x-large;
    display: flex;
    align-items: center;
    height: 100px;
    color: $text-color;
}
.imgLogo{
    width: 30px;
}
.containerLogo:hover{
    font-size: $font-large;
}