@import "../../App.module.scss";
.containerContactsBlock {
  height: 946px;
  background-color: $turquoise-color;
  padding-top: 70px;
  .containerContacts {
    display: flex;
    justify-content: space-between;
    margin: 70px 300px 0 150px;
    column-gap: 166px;
    .containerContact {
      display: flex;
      column-gap: 52px;
      margin-bottom: 22px;
      :first-child {
        align-self: center;
      }
    }
  }
}
iframe {
  border: 0px;
  border-radius: 5px;
}
.containerText {
  font-family: "MontserratAlternates-Regular";
  font-size: $font-medium;
  :first-child {
    color: $gray-color;
  }
}
.social {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}
.social a {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 10px 10px 0;
  text-align: center;
  color: $gray-color;
}
.social a:hover {
  border-color: #888;
  opacity: 0.8;
}
.social svg {
  margin-top: 7px;
  width: 53px;
  height: 53px;
}
