.containerAboutUs{
    height: 692px;
    background-color: var(--lilac-color);
    display: flex;
    justify-content: space-around;
}
.aboutUsImg{
    margin-left: 150px;
    margin-top: 30px;
}
.containerButtonLeft{
margin-top: 304px;
}
.containerButtonRight{
    margin-top: 304px;
    margin-right: 199px;
    }
.containerAboutUsText{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.containerText{
    margin-top: 76px;
}
.containerText :first-child{
font-family: "MontserratAlternates-Regular";
font-size: var(--font-medium);
}
.containerText :last-child{
    font-family: "MontserratAlternates-Light";
    font-size: var(--font-small);
    }
    .containerButtonSubmitRequest{
        margin-top: 106px;
    }
.h2{
    justify-content: left;
}
