@import "../../App.module";

.containerAboutUs {
  height: 692px;
  background-color: $lilac-color;
  display: flex;
  justify-content: space-between;
  .aboutUsImg {
    background-image: url(../../../public/assets/images/girl_about_us.png);
    width: 825px;
    margin-left: 150px;
    margin-top: 30px;
  }
  .containerAboutUsText {
    color: $beige-color;
    margin: 100px 250px 0px 0px;
    width: 660px;
    h2 {
      justify-content: left;
    }
    .containerText {
      margin-top: 76px;
      
      p {
        font-family: "MontserratAlternates-Regular";
        font-size: $font-medium;
      }
      span {
        font-family: "MontserratAlternates-Light";
        font-size: $font-small;
      }
    }
    .containerButtonSubmitRequest {
      margin-top: 106px;
    }
  }
}

