.containerBanner {
  display: flex;
  justify-content: space-between;
  height: 600px;
  background-color: var(--turquoise-color);
}
.bannerImg {
  width: 800px;
  height: 534px;
  margin-top: 66px;
}
