.buttonRegistration{
    font-family: "MontserratAlternates-Medium";
    font-size: var(--font-medium);
    width: 275px;
    height: 62px;
    border-radius: 50px;
    border: 0px;
    background-color: var(--lilac-color);
    color: var(--beige-color);
}