.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: var(--font-medium);
    color: var(--text-color);
    font-family: "MontserratAlternates-Regular";
    margin-left: 150px;
    margin-right: 150px;
}
.containerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1125px;
}
.aboutUs:hover, .programms:hover, .teachers:hover, .reviews:hover, .contacts:hover, .telephone:hover{
    font-weight: bold;
    text-decoration: underline;
}