.containerLogo{
    font-family: "MontserratAlternates-Bold";
    font-size: var(--font-big);
    display: flex;
    align-items: center;
    height: 100px;
}
.imgLogo{
    width: 42px;
    height: 42px;
}