@import "../../App.module.scss";
footer {
  display: flex;
  justify-content: space-around;
  column-gap: 661px;
  height: 100px;
  color: $gray-color;
  font-family: "MontserratAlternates-Regular";
  align-items: flex-end;
}
