@import "../../App.module.scss";
.h2{
  height: 140px;
}
.containerReviews {
  border-radius: 100%;
  width: 1345px;
  height: 630px;
  border: 0px;
  background-color: $lilac-color;
}
.reviewIcon {
display: flex;
}
.containerReview {
width: 580px;
display: grid;
justify-items: center;
font-size: $font-medium;
p{
  font-family: "MontserratAlternates-Regular";
}
span{
  margin-top: 30px;
  font-family: "MontserratAlternates-Light";
}
}
