@import "../../App.module.scss";
.containerReviewsBlock{
  display: grid;
  justify-content: center;
  h2{
    height: 140px;
  }
}
.containerReviews {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  width: 1345px;
  height: 630px;
  border: 0px;
  background-color: $turquoise-color;
  button{
    margin-right: -100px;
    margin-left: -100px;
    }
}
.reviewIcon {
display: flex;
}
.containerReview {
width: 580px;
display: grid;
justify-items: center;
font-size: $font-medium;
p{
  font-family: "MontserratAlternates-Regular";
}
span{
  margin-top: 30px;
  font-family: "MontserratAlternates-Light";
}
}
.controlPrev {
  content: url("../assets/icons/ArrowLeftBeige.svg");
  width: 70px;
  margin-top: 100px;
}
.controlNext {
  content: url("../assets/icons/ArrowRightBeige.svg");
  width: 70px;
  margin-top: 100px;
}

@media screen and (max-width: 430px) {
  .containerReviews{
    border-radius: 0%;
    height: 360px;
    button {
      margin-right: -40px;
      margin-left: -40px;
    }
  }
  .containerReviewsBlock{
    background-color: $turquoise-color;
    h2{
      height: 70px;
      font-size: $font-small;
    }
  }
  .containerReview {
    width: 280px;
    display: grid;
    justify-items: center;
    font-size: $font-x-small;
    p{
      font-family: "MontserratAlternates-Regular";
    }
    span{
      margin-top: 30px;
      font-family: "MontserratAlternates-Light";
    }
    }
    .controlPrev {
      width: 40px;
      margin-top: 150px;
    }
    .controlNext {
      width: 40px;
      margin-top: 150px;
    }
}