@import "../../App.module.scss";
.containerTeachers{
  h2 {
    height: 140px;
  }
}
.containerTeachersBlock {
  margin: 0 100px 70px 100px;
}
.containerTeachersList {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 130px;
}
.containerTeacher {
  display: grid;
  font-size: $font-medium;
  font-family: "MontserratAlternates-Regular";
  height: 610px;
  p {
    font-weight: bold;
  }
  img{
    margin-bottom: 20px;
  };
}