@import "../../App.module.scss";
.containerTeachers {
  h2 {
    height: 140px;
  }
}
.containerTeachersBlock {
  margin: 0 200px 70px 200px;
  button {
    margin-right: -100px;
    margin-left: -100px;
  }
}
.containerTeachersList {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 130px;
}
.containerTeacher {
  display: grid;
  font-size: $font-medium;
  font-family: "MontserratAlternates-Regular";
  height: 610px;
  p {
    font-weight: bold;
  }
  img {
    margin-bottom: 20px;
  }
}
.controlPrev {
  content: url("../assets/icons/ArrowLeftBlack.svg");
  width: 70px;
  margin-top: 220px;
}
.controlNext {
  content: url("../assets/icons/ArrowRightBlack.svg");
  width: 70px;
  margin-top: 220px;
}
@media screen and (max-width: 430px) {
  .containerTeachers {
    h2 {
      height: 70px;
      font-size: $font-small;
    }
  }
  .containerTeachersBlock {
    margin: 0 70px 0 70px;
    button {
      margin-right: -50px;
      margin-left: -50px;
    }
  }
  .containerTeachersList {
    display: inline-block;
  }
  .containerTeacher {
    display: grid;
    font-size: $font-x-small;
    height: 450px;
    p {
      font-weight: bold;
      margin: 0;
    }
    img {
      width: 255px;
      margin-bottom: 0;
    }
  }
  .controlPrev {
    width: 40px;
    margin-top:  600px;
  }
  .controlNext {
    width: 40px;
    margin-top: 600px;
  }
}
