@import "../../App.module.scss";

.containerBanner {
  display: flex;
  justify-content: space-between;
  height: 600px;
  background-color: $turquoise-color;
  .containerBannerText {
    display: grid;
    grid-template-rows: fit-content(84px) 1fr fit-content(62px);
    align-items: center;
    font-family: "MontserratAlternates-Regular";
    font-size: $font-large;
    color: $text-color;
    margin: 100px 0px 100px 150px;
    line-height: 150%;
  }
}
.bannerImg {
  background-image: url(../../../public/assets/images/girl_banner.png);
  width: 800px;
  margin-top: 66px;
  img{
      position: relative;
      left: 200px;
      top: 140px;
      width: 90px;  
  }
}