.containerBanner {
  display: flex;
  justify-content: space-between;
  height: 600px;
  background-color: var(--turquoise-color);
}
.containerBannerText {
  display: grid;
  grid-template-rows: fit-content(84px) 1fr fit-content(62px);
  align-items: center;
  font-family: "MontserratAlternates-Regular";
  font-size: var(--font-large);
  color: var(--text-color);
  margin: 100px 0px 100px 150px;
}
.containerBannerText:nth-child(1) {
  line-height: 150%;
}
.bannerImg {
  width: 800px;
  height: 534px;
  margin-top: 66px;
  margin-right: 257px;
}
.logoImg {
  position: relative;
  left: 370px;
  bottom: 50px;
  width: 90px;
}
